@import 'tailwindcss';

@theme {
  --color-gray-20: #f8f4eb;
  --color-gray-50: #efe6e6;
  --color-gray-100: #dfcccc;
  --color-gray-500: #5d0000;
  --color-primary-100: #d9bfbf; /* #FFE1E0 */
  --color-primary-300: #ffa6a3;
  --color-primary-500: #ff6b66;
  --color-secondary-400: #ffcd58;
  --color-secondary-500: #ffc132;

  --font-dm-sans: 'DM Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  background: #eeaeca;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 6%, rgba(148, 187, 233, 1) 92%);
}

html {
  scroll-behavior: smooth;
}
